body {  /* this part of the code is to assing the atributes to the body of the page*/
  background-color: #010E1A;
  font-family: Arial, sans-serif;
  color: #fff;
    margin: 0;
    padding: 0;
  }

  .header { /* this part of the code is to assing the atributes to the body of the page*/
    background-color: rgb(1, 26, 1);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  li{ /*settings for the contact info list*/
    color: #fff;
  }
  a{ /*setting for a color*/
    color: #fff;
  }
  .avatar { /*avatar picture settings and behaviour*/
    width: 75px;
    height: 100px;
    background-color: rgb(1, 26, 1);
    accent-color: #fff;
    border: 2px solid #333;
    margin: 10px;
    cursor: pointer;
  }
  .navigation { /* navigation appearance*/
    background-color: rgb(1, 26, 1);
    padding: 10px;
    text-align: center;
  }
 .about { /*about section appearance*/
    width: 200px;
    border: 2px solid #333;
    margin: 10px;

 }
  .section { /*setting for about me section*/
    display: flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 40px;
    text-align: baseline;
  }

  .section img { /*settings for iumage sizes*/
    display: flex;
    max-width: 35%;
    min-width: 30%;
    max-height: 25%;
    min-height: 20%;
    justify-items: center;
    align-items: center;
  }

  .work-section img { /*work section image unselected*/
    display: flex;
    background-color: #1A011A;
    width: 200px;
    border: 2px solid #333;
    margin: 10px;
    cursor: pointer;
  }

  .work-section img.active { /*image behaviour on cursor pointer*/
    display: flex;
    max-width: 40%;
    min-width: 35%;
    max-height: 35%;
    min-height: 30%;
    cursor: pointer;
  }
